body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0e0e0e;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* HEADER */
header {
  background-color: #111;
  padding: 2rem 1rem;
  border-bottom: 1px solid #333;
}

h1 {
  color: #c8a45d;
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

nav a {
  color: #c8a45d;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* MAIN */
main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}



/* ====== Фаза Луны ====== */
.moon-container {
  margin: 20px auto;
}

.moon-info {
  font-size: 16px;
  color: #c8a45d;
  padding: 10px 0;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px 10px 30px 10px;
  background: linear-gradient(to top, #050505, #111);
  color: #dcdcdc;
  font-family: 'Georgia', serif;
  border-top: 1px solid #444;
  font-size: 0.9rem;
}

footer hr {
  border: none;
  height: 1px;
  background-color: #444;
  margin-bottom: 10px;
}

.moon-info {
  font-size: 16px;
  color: #dcdcdc;
  margin-bottom: 8px;
}
